<footer th:fragment="footer" class="footer mt-auto py-3" style="background-color: #6D4C41; color: #F5E0D3;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 style="color: #BCAAA4;">Adresse</h5>
                <p>17 rue Jean Jaurès<br>29200 Brest</p>
            </div>
            <div class="col-md-4">
                <h5 style="color: #BCAAA4;">Réseaux Sociaux</h5>
                <p>
                    <a href="https://www.facebook.com/CafeOse" style="color: #F5E0D3;">Facebook</a><br>
                    <a href="https://www.twitter.com/CafeOse" style="color: #F5E0D3;">Twitter</a><br>
                    <a href="https://www.instagram.com/CafeOse" style="color: #F5E0D3;">Instagram</a>
                </p>
            </div>
            <div class="col-md-4">
                <h5 style="color: #BCAAA4;">Contact</h5>
                <p>Tél : 02 98 00 00 00<br>Email : CafeOse@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
