<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="chemin/vers/votre/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Mon Logo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Accueil</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('isAnonymous')}">
                <a class="nav-link" th:href="@{/login}">Se connecter</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated')}">
                <a class="nav-link" th:href="@{/logout}">Se déconnecter</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('isAnonymous')}">
                <a class="nav-link" th:href="@{/inscription}">Inscription</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated')}">
                <a class="nav-link" th:href="@{/inscription}">Mes commandes</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated')}">
                <a class="nav-link" th:href="@{/panier/{username}}">Panier</a>
            </li>
        </ul>
    </div>
</nav>
</div>